<% content_for :title, "Deployments" %>




<div class="flex flex-col items-center justify-around gap-7">
  <h1 class="text-5xl">Deployments</h1>
  <%= link_to new_deployment_path, class: "btn btn-sm btn-primary" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    New deployment
  <% end %>
</div>


<div class="info-text" style="margin-top: 20px;">
  <p>Deploy and manage your trained models for real-time predictions. Once a model is trained, you can host it in a deployment environment for immediate use in forecasting, classification, or other prediction tasks.</p>
</div>

<div id="deployments" class="mt-10 flex flex-col items-center gap-10">
  <% @deployments.each do |deployment| %>
    <%= render deployment %>
  <% end %>
</div>