<div class="flex flex-col items-center justify-around gap-7">
  <img class="mx-auto h-16 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
  <h1 class="text-4xl font-extrabold text-gray-800">Welcome to MLite</h1>
  <p class="text-md text-gray-600">Sign in or Sign up at the top right to get started with training your own machine learning models!</p>

  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mt-5 w-2/3">
    <li>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic"></time>
        <div class="text-lg font-black">Sign Up</div>
        Create your account to access all features. Sign up in just a few steps to get started with uploading datasets, training models, and deploying predictions.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic"></time>
        <div class="text-lg font-black">Upload Your Datasets</div>
        Upload your dataset to the platform. Specify the target variable and review the data schema to ensure everything is ready for model training.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic"></time>
        <div class="text-lg font-black">Train Machine Learning Models</div>
        Choose from a variety of machine learning models tailored for your dataset. Adjust hyperparameters, schedule training, and monitor progress.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic"></time>
        <div class="text-lg font-black">Deploy & Use</div>
        Deploy the trained model to make predictions in real-time. Use the provided API or interface to integrate it seamlessly into your workflow.
      </div>
    </li>
  </ul>
</div>
